<form method="post" action="{{ path('app_services_delete', {'id': services.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ services.id) }}">
    <button class="btn">Supprimer</button>
</form>
