<!DOCTYPE html>

<title>Ajouter un service</title>
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1>Créer un nouveau service</h1>

    <div class="createservice">

    {{ include('services/_form.html.twig') }}
 </div>

    <a href="{{ path('app_services_index') }}">Retour à la liste</a>
   
{% endblock %}
