{% extends 'base.html.twig' %}

{% block title %}Edit TypeDeService{% endblock %}

{% block body %}
    <h1>Edit TypeDeService</h1>

    {{ include('type_de_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_de_service_index') }}">back to list</a>

    {{ include('type_de_service/_delete_form.html.twig') }}
{% endblock %}
