{% extends 'base.html.twig' %}

{% block title %}New TypeDeService{% endblock %}

{% block body %}
    <h1>Create new TypeDeService</h1>

    {{ include('type_de_service/_form.html.twig') }}

    <a href="{{ path('app_type_de_service_index') }}">back to list</a>
{% endblock %}
